body {
    font-family: Helvetica, sans-serif;
    padding-left: 2em;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
}
blockquote {
    border-left: 3px solid rgb(221,221,221);
    font-style: italic;
}
blockquote p {
    padding: 0.6em 0.6em 0.6em 2em;
    font-weight: bolder;
}
blockquote p:last-child{
    font-style: oblique;
    padding: 1.2em 1.5em 1.8em 0;
    text-align: right;
}

blockquote p:last-child::before{
    content: "— ";
}

ul li{
    list-style-type:disc;
}
ul ul ul li{
    list-style: circle;
}
table{
    border-collapse:collapse;
    width: 100%;
}
th {
    background-color: rgb(202, 202, 202);
    text-align: left;
}
th, td {
    width: 144px;
    height: 32px;
    border: solid 1px #ccc;
    padding-left: 0.5em;
}
tr:nth-child(odd){
    background-color: rgb(233, 233, 233);
}