* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}
.card {
    display: flex;
    background: #fff;
    border-radius: 0.6em;
    flex-direction: column;
    padding: 1em 2em 2.75em 1em;
    box-shadow: 0 0 1em 0.2em #AAA;
    width: 25vw;
}

.card h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 0.3em;
}

.card p {
    font-size: 1.2em;
}