body{
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
header, main, aside, footer {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5em 0.2em #ccc;
}

header, footer {
    flex-basis: 100%;
}
main {
    flex: 8 1 40rem;
    min-height: 20rem;
}
header {
    min-height: 8rem;
}
footer {
    min-height: 4rem;
}
aside {
    flex: 2 1 20rem;
}
